[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "themes/paged"]
	path = themes/paged
	url = https://github.com/yihui/hugo-paged.git
