{{ template "_internal/google_analytics.html" . }}

{{- if (in .Content "</dl>") -}}
<script src="{{ "vendor/xiee-utils/js/dl-fieldset.min.js" | relURL }}" defer></script>
{{ end }}
{{- $has_code := (in .Content "</code></pre>") -}}
{{- $has_img := (in .Content `<img `) -}}
{{- $has_toc := .Scratch.Get "has_toc" -}}
{{- if $has_toc -}}
<script src="{{ "vendor/xiee-utils/js/fix-toc.min.js" | relURL }}" defer></script>
{{ end }}
{{- if or $has_img (in .Content "<p>* * *</p>") -}}
<script src="{{ "vendor/xiee-utils/js/center-img.min.js" | relURL }}" defer></script>
{{ end }}
{{- if $has_img -}}
<script src="{{ "vendor/xiee-utils/js/alt-title.min.js" | relURL }}" defer></script>
{{ end }}
{{- if not (default (not $has_code) .Params.disable_highlight) -}}
<link rel="stylesheet" href="{{ "vendor/prism/prism-xcode.css" | relURL }}">
<script src="{{ "vendor/prism/prism-core.min.js" | relURL }}" defer></script>
<script src="{{ "vendor/prism/prism-autoloader.min.js" | relURL }}" defer></script>
{{ end }}
{{- if not (default false .Params.disable_math) -}}
<link rel="stylesheet" href="{{ "vendor/katex/katex.min.css" | relURL }}">
<script src="{{ "vendor/xiee-utils/js/math-code.min.js" | relURL }}" defer></script>
<script src="{{ "vendor/katex/katex.min.js" | relURL }}" defer></script>
<script src="{{ "vendor/katex/auto-render.min.js" | relURL }}" defer></script>
<script src="{{ "vendor/xiee-utils/js/render-katex.js" | relURL }}" defer></script>
{{ end }}
{{- if $has_code -}}
<script src="{{ "vendor/xiee-utils/js/copy-button.min.js" | relURL }}" defer></script>
<link rel="stylesheet" href="{{ "vendor/xiee-utils/css/copy-button.min.css" | relURL }}">
{{ end }}
{{- if (findRE `<p>(—|―|---|&mdash;)` .Content | len) -}}
<script src="{{ "vendor/xiee-utils/js/right-quote.min.js" | relURL }}" defer></script>
{{ end }}
{{- if or (in .Content "</kbd>") (in (replace .Content "</code></pre>" "") "</code>") -}}
<script src="{{ "vendor/xiee-utils/js/key-buttons.min.js" | relURL }}" defer></script>
<link rel="stylesheet" href="{{ "vendor/xiee-utils/css/key-buttons.min.css" | relURL }}">
{{ end }}
{{- if (in .Content `class="footnotes"`) -}}
<script src="{{ "vendor/xiee-utils/js/fix-footnote.min.js" | relURL }}" defer></script>
{{ end }}
{{- if (findRE `<h[1-6] ` .Content | len) -}}
<script src="{{ "vendor/xiee-utils/js/heading-anchor.min.js" | relURL }}" defer></script>
{{ end }}
{{- if (findRE `<a href="https?://` .Content | len) -}}
<script src="{{ "vendor/xiee-utils/js/external-link.min.js" | relURL }}" defer></script>
{{ end }}
{{- if (in .Content "</ol>") -}}
<script src="{{ "vendor/xiee-utils/js/ol-id.min.js" | relURL }}" defer></script>
{{ end }}
{{- if or $has_toc $has_code (in .Content "</table>") -}}
<script src="{{ "vendor/xiee-utils/js/fullwidth.min.js" | relURL }}" defer></script>
{{ end }}
{{- partial "foot_extra.html" . -}}
